/* General */
body {
    margin: 0; 
    font-family: Arial, sans-serif;
}

/* Header */
.header {
    background: rgb(12, 12, 12); 
    color: white;
    text-align: center;
    padding: 25px; 
    font-size: 28px;
}

/* Layout */
.container { 
    display: flex; 
}

/* Sidebar */
.sidebar {
    background: rgb(234, 234, 232); 
    width: 200px; 
    padding: 20px;
}

.sidebar ul {
    list-style: disc; 
    padding-left: 20px;
}

/* Content */
.content { 
    flex: 1; 
    padding: 20px; 
}

/* Product */
.product img {
    display: block; 
    margin: 15px 0; 
    max-width: 100%;
}

.product-title {
    font-size: 50px; 
    font-weight: bold; 
    margin: 10px 0; 
    color: rgb(6, 5, 5);
}

.product-description {
    font-size: 16px;
    margin-bottom: 10px;
    color: rgb(147, 153, 154);
}

.price { 
    font-size: 20px; 
    font-weight: bold;
    color: rgb(87, 79, 83)
}

/* Shipping */
.shipping {
    margin-top: 30px; 
    padding: 20px;
    background: #f2f2f2;
}

.shipping form { 
    display: flex;
    flex-direction: column;
}

.shipping label { 
    margin-bottom: 10px; 
}

.shipping input { 
    padding: 5px; 
    margin-top: 3px; 
}

/* Button */
button {
    margin-top: 15px; 
    padding: 10px; 
    font-size: 16px; 
    background: blue; 
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: rgb(10, 10, 98);
}

/* Footer */
.footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 10px;
}